include README.md
include LICENSE
include requirements.txt
include pyproject.toml

recursive-include gz *.py *.pyi
recursive-include gz_transport_py *.py *.pyi
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

